<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @seller.name %>
</p>

<p>
  <b>Location:</b>
  <%= @seller.credit %>
</p>
 
<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', cars_path %>
